@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none; /* IE et Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Opera */
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}
